:root {
  --clr-primary-hsl-100: ;
  --clr-primary-hsl-200: ;
  --clr-primary-hsl-300: ;
  --clr-primary-hsl-400: ;
  --clr-primary-hsl-500: ;
  --clr-primary-hsl-600: ;
  --clr-primary-hsl-700: ;
  --clr-primary-hsl-800: ;
  --clr-primary-hsl-900: ;
  --clr-primary-hsl-000: ;

  --clr-secondary-hsl-100: ;
  --clr-secondary-hsl-200: ;
  --clr-secondary-hsl-300: ;
  --clr-secondary-hsl-400: ;
  --clr-secondary-hsl-500: ;
  --clr-secondary-hsl-600: ;
  --clr-secondary-hsl-700: ;
  --clr-secondary-hsl-800: ;
  --clr-secondary-hsl-900: ;
  --clr-secondary-hsl-000: ;

  --clr-accent-hsl-1: ;
  --clr-accent-hsl-2: ;
  --clr-accent-hsl-3: ;
  --clr-accent-hsl-4: ;
  --clr-accent-hsl-5: ;

  --clr-primary-100: hsl(var(--clr-primary-hsl-100));
  --clr-primary-200: hsl(var(--clr-primary-hsl-200));
  --clr-primary-300: hsl(var(--clr-primary-hsl-300));
  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));
  --clr-primary-600: hsl(var(--clr-primary-hsl-600));
  --clr-primary-700: hsl(var(--clr-primary-hsl-700));
  --clr-primary-800: hsl(var(--clr-primary-hsl-800));
  --clr-primary-900: hsl(var(--clr-primary-hsl-900));
  --clr-primary-000: hsl(var(--clr-primary-hsl-000));

  --clr-secondary-100: hsl(var(--clr-secondary-hsl-100));
  --clr-secondary-200: hsl(var(--clr-secondary-hsl-200));
  --clr-secondary-300: hsl(var(--clr-secondary-hsl-300));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
  --clr-secondary-500: hsl(var(--clr-secondary-hsl-500));
  --clr-secondary-600: hsl(var(--clr-secondary-hsl-600));
  --clr-secondary-700: hsl(var(--clr-secondary-hsl-700));
  --clr-secondary-800: hsl(var(--clr-secondary-hsl-800));
  --clr-secondary-900: hsl(var(--clr-secondary-hsl-900));
  --clr-secondary-000: hsl(var(--clr-secondary-hsl-000));

  --clr-accent-1: hsl(var(--clr-accent-hsl-1));
  --clr-accent-2: hsl(var(--clr-accent-hsl-2));
  --clr-accent-3: hsl(var(--clr-accent-hsl-3));
  --clr-accent-4: hsl(var(--clr-accent-hsl-4));
  --clr-accent-5: hsl(var(--clr-accent-hsl-5));

  --primary-gradient: linear-gradient(
    var(--clr-secondary-300),
    var(--clr-secondary-400)
  );

  --secondary-gradient: linear-gradient(
    var(--clr-secondary-300),
    var(--clr-secondary-400)
  );

  --ff-primary: ;
  --ff-secondary: ;

  --fw-regular: ;
  --fw-medium: ;
  --fw-bold: ;

  --fs-100: ;
  --fs-200: ;
  --fs-300: ;
  --fs-400: ;
  --fs-500: ;

  --size-100: ;
  --size-200: ;
  --size-300: ;
  --size-400: ;
  --size-500: ;
}

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* Utilities */

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--size-200, 1rem);
}

.align-center {
  text-align: center;
  margin-inline: auto;
}

/* General Styles */

body {
  font-family: var();
  font-size: var();
  font-weight: var();
  color: var();
  background-color: var();

  min-height: 100vh;
}

.card {
  background: var();
  border-radius: var();
  box-shadow: 0.5rem 1rem 5rem hsl(var(--clr-secondary-hsl-300), 0.5);
}

.heading-1 {
  font-family: var();
  font-weight: var();
  color: var();
  font-size: var();
}

.heading-2 {
  font-family: var();
  font-weight: var();
  color: var();
  font-size: var();
}

.btn {
  font-weight: var();
  font-size: var();
  color: var();
  background: var();
  padding: var();

  border-radius: 100vw;

  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  opacity: 0.85;
  border: none;
  outline: none;
}

/* Small screen widths */

@media (max-width: 800px) {
}

/* Big screen widths */

@media (min-width: 800px) {
}
